
.tt-alert-box {
    display: block!important;
    color: #f2f2f2;
    background: #222;
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}

.tt-toggle {
    width: 17.5px;
    height: auto;
    margin: 5px 15px;
    cursor: pointer;
}

#contents.ytd-section-list-renderer > *.ytd-section-list-renderer:not(:last-child):not(ytd-page-introduction-renderer) {
    border-bottom: none!important;
}

.tt-title-alert {
    margin: 30px 0;
}

.tt-title-alert > p {
    display: inline-block;
    margin-left: 20px;
}

.tt-title-alert > img {
    position: relative;
    top: 7px;
}

